.scoreboard {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  width: 25%;
  max-width: 300px;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 1rem;
  left: 2%;
  z-index: 10;
  display: block;
}

@media (max-width: 1200px) {
  .scoreboard {
    display: none;
  }
}

.title {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  text-align: center;
}

.message {
  color: #dc3545;
  font-size: 1.2rem;
  text-align: center;
}

.list {
  list-style: none;
  padding: 0;
}

.listItem {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
}

.listItem:nth-child(odd) {
  background-color: #ffffff;
}

.playerName {
  font-weight: bold;
}

.score {
  color: #007bff;
}
